* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(199, 218, 226);
  font-family: Georgia, "Times New Roman", Times, serif;
}
#movielist {
  display: flex;
}
.movieimg {
  height: 100px;
  width: 65px;
  margin-bottom: 8px;
  border-radius: 10px;
}
#moviecard {
  background-color: rgb(255, 255, 255);
  height: 150px;
  width: 80px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 50px 60px 30px;
  border-radius: 20px;
}
#titre {
  margin-bottom: 8px;
  color: rgb(82, 32, 105);
  font-size: 15px;
}
#description {
  font-size: 10px;
}
